:root {
    --num-rows: 3;
}

.grid-container {
    display: grid;
    gap: 0;
    /* Set gap to 0 to remove space between cells */
    grid-auto-flow: column;
    /* Remove fixed column width */
    /* grid-auto-columns: 100px; */
    /* Allow column to increase to fit width of text */
    grid-auto-columns: auto;
    grid-template-rows: repeat(var(--num-rows), 1fr);
    /* Add this line to create the specified number of rows */
    overflow-x: auto;
}

.grid-item {
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
    /* Remove fixed width */
    /* width: 10px; */
    /* Set width to match grid auto column width */
    text-align: center;
    /* Center the text */
    white-space: nowrap;
    /* Prevent text from wrapping */
    /* Add this line to allow cell to expand to fit content */
    display: inline-block;
}